# Configurações do Cypress
CYPRESS_BASE_URL=https://www.automationexercise.com
CYPRESS_USER_EMAIL=teste_automatizado@email.com
CYPRESS_USER_PASSWORD=senha_secreta

# Configurações de API e Contrato (Pact/Jest)
API_BASE_URL=https://automationexercise.com/api
PACT_BROKER_URL=
PACT_BROKER_TOKEN=

# Configurações de Performance (k6)
K6_BASE_URL=https://automationexercise.com
K6_VUS=5
K6_DURATION=10s
#Configurações de API
TRELLO_API_KEY=
TRELLO_API_TOKEN=
TRELLO_BASE_URL=https://api.trello.com/1
CLIENT_SDK_KEY="chave clientSdkKey"
TRELLO_LIST_ID="id_da_lista_aqui_exemplo"
USE_LOCAL_LLM=true
TRELLO_ACTION_ID=
